<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_fisical.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product_fisical.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_fisical.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product_fisical.stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_fisical.price %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product_fisical.sku %>
</p>

<%= link_to 'Edit', edit_product_fisical_path(@product_fisical) %> |
<%= link_to 'Back', product_fisicals_path %>
